/*////////////// Fonts //////////////*/

@font-face {
  font-family: "Baskerville";
  font-style: normal;
  font-weight: 400;
  local: "./fonts/Baskerville.ttc"
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

h1 {
  font-family: "Baskerville";
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

img {
  max-width: 100%
}
