/*////////////// Fonts //////////////*/

@font-face {
    font-family: 'Baskerville'; /*a name to be used later*/
    src: url('./fonts/Baskerville.ttc'); /*URL to font*/
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: "Baskerville", 'Times New Roman', serif; 
}

h1 {
  font-family: "Baskerville";
  padding-top: 15px; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: #eee;
  
}

.logos {
  display: inline;
}

.link {
  width: 24.6%;
}
.link:hover {
  border-color: #393939;
}

.copyright {
  text-align: right;
}